<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Workflow</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li>
                        <a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_switch_user: '_exit'})) }}">
                            Hello {{ app.user.username }} | logout
                        </a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Connect as <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_switch_user: 'alice'})) }}">
                                    Alice
                                </a>
                            </li>
                            <li>
                                <a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_switch_user: 'journalist'})) }}">
                                    Journalist
                                </a>
                            </li>
                            <li>
                                <a href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_switch_user: 'spellchecker'})) }}">
                                    Spellchecker
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
