<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">Symfony Workflow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto"></ul>
            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        Hello {{ app.user|title }} |
                        <a href="{{ path('logout', { returnTo: app.request.pathinfo }) }}">
                            logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Connect as
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% for username in ['alice', 'journalist', 'spellchecker', 'admin'] %}
                                <li>
                                    <a href="{{ path('login', {username: username}) }}" class="dropdown-item">
                                        {{ username|title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
