{% extends 'layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <h1>Task list</h1>
            <ul>
                {% for task in tasks %}
                    <li>
                        <a href="{{ path('task_show', { id: task.id }) }}">
                            {{ task.title }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <p>
                            No task found, add one?
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 mb-3">
            <h2>Add new task</h2>
            <form action="{{ path('task_create') }}" method="post"  class="form-inline">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title"  name="title" value="{{ tasks ? "Tasks #{(tasks|length) + 1}" : "My first task" }}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col text-center mx-auto">
            <div class="mermaid">
                {{- workflow_dump('task', 'statemachine') }}
            </div>
        </div>
    </div>
{% endblock %}
