{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Task "{{ task.title}}"</h1>

    <div class="row">
        <div class="col-lg-6 mb-3">
            <h2>Current Marking</h2>
            <p>
                <code>
                    AppBundle\Entity\Task::marking
                </code>
                =
                <code>{{ task.marking.value }}</code>
            </p>
            <p>
                <form action="{{ path('task_reset_marking', {id: task.id}) }}" method="post" class="form-inline">
                    <button type="submit" class="btn btn-danger btn-xs">Reset marking</button>
                </form>
            </p>
        </div>
        <div class="col-lg-6 mb-3">
            <h2>What can you do?</h2>
            <form action="{{ path('task_apply_transition', {id: task.id}) }}" method="post">
                <div class="btn-group-vertical" role="group">
                    {% for transition in workflow_all_transitions('task') %}
                        <button type="submit" name="transition" value="{{ transition.name }}" {% if workflow_can(task, transition.name) -%} class="btn btn-primary" {%- else -%} class="btn btn-danger" disabled="disabled" {%- endif -%}>
                            {{ transition.name }}
                        </button>
                    {% endfor %}
                </div>
            </form>
            <br/>
            {% if not workflow_transitions(task) %}
                <strong>{{ 'no_transition_available'|trans }}</strong>
                <br/>
                {{ 'try_as_another_user'|trans }}
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col text-center mx-auto">
            <div class="mermaid">
                {{- workflow_dump('task', 'statemachine', task) }}
            </div>
        </div>
    </div>
{% endblock %}
