{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Article "{{ article.title}}"</h1>
    <p>
        <code>
            AppBundle\Entity\Article::marking
        </code>
        =
        <code>{{ article.marking|keys|join('</code>, <code>')|default('[]')|raw }}</code>
    </p>
    <p>
        The following transitions could be applied to this article:
        <form action="{{ url('article_apply_transition', {id: article.id}) }}" method="post" class="form-inline">
            {% for transition in workflow_available_transitions(article) %}
                <button type="submit" class="btn btn-default" name="transition" value="{{ transition.name }}">{{ transition.name }}</button>
            {% else %}
                The object can not apply any transition
            {% endfor %}
        </form>
    </p>
    <p>
        <form action="{{ url('article_reset_marking', {id: article.id}) }}" method="post" class="form-inline">
            <button type="submit" class="btn btn-warning">Reset marking</button>
        </form>
    </p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(function() {
        var marking = {{ article.marking|keys|json_encode|raw }};
        var $svg = $('#article-workflow');

        for (var i = 0; i < marking.length; i++) {
            var name = marking[i];
            $('g.node title:contains("place_'+name+'")', $svg).each(function(j, place) {
                var place = $(place).parent();
                var ref = $('ellipse', place);
                var newEllipse = ref.clone();
                newEllipse.attr('rx', ref.attr('rx') * .9);
                newEllipse.attr('ry', ref.attr('ry') * .9);
                ref.after(newEllipse);
            });
        }
    });
    </script>
{% endblock %}
