{% extends 'article/layout.html.twig' %}

{% block main %}
    <h1>Article "{{ article.title}}"</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Current Marking</h2>
            <p>
                <code>
                    AppBundle\Entity\Article::marking
                </code>
                <br />
                =
                <br />
                <code>{{ article.marking|keys|join('</code>, <code>')|default('[]')|raw }}</code>
            </p>
            <p>
                <form action="{{ path('article_reset_marking', {id: article.id}) }}" method="post" class="form-inline">
                    <button type="submit" class="btn btn-danger btn-xs">Reset marking</button>
                </form>
            </p>
        </div>
        <div class="col-md-6">
            <h2>What can you do?</h2>
            <form action="{{ path('article_apply_transition', {id: article.id}) }}" method="post">
                <div class="btn-group-vertical" role="group">
                    {% for transition in workflow_transitions(article) %}
                        <button type="submit" name="transition" value="{{ transition.name }}"
                            {% if workflow_can(article, transition.name) -%}
                                class="btn btn-primary"
                            {%- else -%}
                                class="btn btn-danger" disabled="disabled"
                            {%- endif -%}
                        >
                            {{ transition.name }}
                        </button>
                    {% endfor %}
                </div>
            </form>
            <br />
            {% if not workflow_transitions(article) %}
                <strong>The object can not apply any transition.</strong>
                <br />
                May be you can try with another user ;
                he may have more permissions than you.
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(function() {
        var marking = {{ article.marking|keys|json_encode|raw }};
        var $svg = $('#workflow-article');

        for (var i = 0; i < marking.length; i++) {
            var name = marking[i].replace(/[^\w]/i, '_').toLowerCase();
            $('g.node title:contains("place_'+name+'")', $svg).each(function(j, place) {
                var place = $(place).parent();
                var ref = $('ellipse', place);
                ref.attr('stroke', 'red');
                var newEllipse = ref.clone();
                newEllipse.attr('rx', ref.attr('rx') * .9);
                newEllipse.attr('ry', ref.attr('ry') * .9);
                ref.after(newEllipse);
            });
        }
    });
    </script>
{% endblock %}
