{% extends 'layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <h1>Article list</h1>
            <ul>
                {% for article in articles %}
                    <li>
                        <a href="{{ url('article_show', { id: article.id }) }}">
                            {{ article.title }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <p>
                            No article found, add one?
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Add new article</h2>
            <form action="{{ url('article_create') }}" method="post"  class="form-inline">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title"  name="title" value="{{ articles ? "articles #{(articles|length) + 1}" : "My first article" }}">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col text-center mx-auto">
            <div class="mermaid">
                {{- workflow_dump('article', 'statemachine') }}
            </div>
        </div>
    </div>
{% endblock %}
