{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Article "{{ article.title}}"</h1>

    <div class="row">
        <div class="col-lg-3 mb-3">
            <h2>Current Marking</h2>
            <p>
                <code>
                    AppBundle\Entity\Article::marking
                </code>
                <br />
                =
                <br />
                <code>{{ article.marking|keys|join('</code>, <code>')|default('[]')|raw }}</code>
            </p>
            <p>
                <form action="{{ path('article_reset_marking', {id: article.id}) }}" method="post" class="form-inline">
                    <button type="submit" class="btn btn-danger btn-xs">Reset marking</button>
                </form>
            </p>
        </div>
        <div class="col-lg-3 mb-3">
            <h2>What can you do?</h2>
            <form action="{{ path('article_apply_transition', {id: article.id}) }}" method="post">
                <div class="btn-group-vertical" role="group">
                    {% for transition in workflow_all_transitions('article') %}
                        <button type="submit" name="transition" value="{{ transition.name }}"
                            {% if workflow_can(article, transition.name) -%}
                                class="btn btn-primary"
                            {%- else -%}
                                class="btn btn-danger" disabled="disabled"
                            {%- endif -%}
                        >
                            {{ transition.name }}
                        </button>
                    {% endfor %}
                </div>
            </form>
            <br />
            {% if not workflow_transitions(article) %}
                <strong>The article can not apply any transition.</strong>
                <br />
                May be you can try with another user ;
                she may have more permissions than you.
            {% endif %}
        </div>
        <div class="col-lg-3 mb-3">
            <h2>Why you can't?</h2>
            <ul class="list-unstyled">
                {% for transition in workflow_all_transitions('article') %}
                    {% if not workflow_can(article, transition.name) %}
                        <li>
                            <strong>{{ transition.name }}</strong>:
                            <ul class="list-unstyled">
                            {% for blocker in workflow_transition_blockers(article, transition.name) %}
                                <li>
                                    {{ blocker.message }}
                                    {% if blocker.parameters.expression is defined %}
                                        <code>{{ blocker.parameters.expression }}</code>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-3 mb-3">
            <h2>Metadata</h2>
            <p>
                <strong>Workflow</strong>:<br >
                <code>{{ workflow_metadata(article, 'title') }}</code>
            </p>
            <p>
                <strong>Current place(s)</strong>
                <ul>
                    {% for place in workflow_marked_places(article) %}
                        <li>
                            {{ place }}:
                            <code>{{ workflow_metadata(article, 'title', place) ?: 'n-a'}}</code>
                        </li>
                    {% endfor %}
                </ul>
            </p>
            <p>
                <strong>Enabled transition(s)</strong>
                <ul>
                    {% for transition in workflow_transitions(article) %}
                        <li>
                            {{ transition.name }}:
                            <code>{{ workflow_metadata(article, 'title', transition) ?: 'n-a'}}</code>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col text-center mx-auto">
            <div class="mermaid">
                {{- workflow_dump('article', 'workflow', article) }}
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-xl-6">
            <h2>Last 5 transitions context <small class="text-muted">(most recent first)</small></h2>
            {% for transitionContext in article.transitionContexts[0:5]|reverse %}
                <div class="card mb-2">
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">New Marking</dt>
                            <dd class="col-sm-9">{{ transitionContext.new_marking|keys|join(', ') }}</dd>

                            <dt class="col-sm-3">When</dt>
                            <dd class="col-sm-9">{{ transitionContext.time|date('Y-m-d H:i:s') }}</dd>

                            {% for k, v in transitionContext.context %}
                                <dt class="col-sm-3">{{ k|title }}</dt>
                                <dd class="col-sm-9">{{ v }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
